body {
    color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.main label {
    font-weight: bold;
}

.main .test-input {
    width: 100%;
}

.main .test-input textarea {
    width: 100%;
    margin-top: 5px;
    padding: 0px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.main .test-input button {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
